### Import packages

In [572]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import streamlit as st
import time

### API data verzameling

In [573]:
# zet de DataFrame weergave naar alle kollomen

pd.set_option('display.max_columns', None)

In [574]:
# Haal data uit de API 

# defineer URL
url = 'https://api.schiphol.nl/public-flights/flights?includedelays=false&page=0&sort=%2BscheduleTime'


# Gebruik headers om te communiceren met de API en toegang te krijgen tot de data
headers = {
    'accept': 'application/json',
    'resourceversion': 'v4',
    'app_id': 'aaeab06e',
    'app_key': '346684b4f4090227ec9abe2d93526665'
}
    

response = requests.request('GET', url, headers=headers) # Krijg toegang tot de data via een Get request (response = 200)
flights_data = response.json()  # Convert response to dictionary
df = pd.DataFrame(flights_data["flights"])  # Convert to DataFrame
df # zichtbaar dat er maar 20 waardes uitkomen

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,codeshares
0,2025-03-05T01:57:01.624+01:00,2025-03-05T00:15:23.000+01:00,PHHXN,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['16']},2025-03-05T00:15:17.000+01:00,2025-03-05T01:19:02.377+01:00,A,HV5226,5226,E6,E,141854996421343308,True,HV5226,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['HRG'], 'eu': 'N', 'visa': F...",2025-03-05T00:10:00.000+01:00,2025-03-05,00:10:00,J,3.0,4,NaN
1,2024-10-16T15:16:54.457+02:00,NaN,NaN,"{'iataMain': '73H', 'iataSub': '73H'}",NaN,NaN,NaN,A,HV6902,6902,NaN,NaN,141854996421463624,False,HV6902,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['DXB', 'ATH'], 'eu': 'N', 'v...",2025-03-05T00:35:00.000+01:00,2025-03-05,00:35:00,J,NaN,4,NaN
2,2025-03-05T02:18:54.174+01:00,2025-03-05T00:33:27.000+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,HV6672,6672,C11,C,141854996421455928,True,HV6672,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}"
3,2025-03-05T02:18:54.174+01:00,2025-03-05T00:33:27.000+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,KL2591,2591,C11,C,141854996799628634,True,HV6672,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}"
4,2025-03-05T02:18:54.174+01:00,2025-03-05T00:33:27.000+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,DL7488,7488,C11,C,141854995829316968,True,HV6672,DL,DAL,58.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}"
5,2025-03-05T03:20:38.789+01:00,2025-03-05T03:02:04.000+01:00,JA18KZ,"{'iataMain': '74F', 'iataSub': '74N'}",NaN,2025-03-05T03:02:24.000+01:00,NaN,A,KZ004,4,NaN,NaN,141854995269994990,True,KZ004,KZ,NCA,131.0,"{'flightStates': ['LND', 'EXP']}","{'destinations': ['NRT', 'ANC'], 'eu': 'N', 'v...",2025-03-05T03:20:00.000+01:00,2025-03-05,03:20:00,F,NaN,4,NaN
6,2025-03-05T04:58:03.395+01:00,2025-03-05T04:43:25.000+01:00,OELYD,"{'iataMain': '76F', 'iataSub': '76Y'}",NaN,2025-03-05T04:42:44.000+01:00,NaN,A,QY1446,1446,NaN,NaN,141854997680379900,True,QY1446,QY,BCS,289.0,"{'flightStates': ['LND', 'EXP']}","{'destinations': ['LEJ'], 'eu': 'S', 'visa': F...",2025-03-05T05:10:00.000+01:00,2025-03-05,05:10:00,F,NaN,4,NaN
7,2025-03-05T05:22:11.309+01:00,2025-03-05T05:08:32.000+01:00,OEIXF,"{'iataMain': '73F', 'iataSub': '73K'}",NaN,2025-03-05T05:07:44.000+01:00,NaN,A,FX4235,4235,NaN,NaN,141854996151362890,True,FX4235,FX,FDX,219.0,{'flightStates': ['LND']},"{'destinations': ['CDG'], 'eu': 'S', 'visa': F...",2025-03-05T05:15:00.000+01:00,2025-03-05,05:15:00,F,NaN,4,NaN
8,2025-03-05T06:58:50.163+01:00,2025-03-05T04:56:29.000+01:00,PHBQE,"{'iataMain': '777', 'iataSub': '772'}",{'belts': ['15']},2025-03-05T04:56:34.000+01:00,2025-03-05T06:15:29.889+01:00,A,KL0856,856,F5,F,141854996799433950,True,KL0856,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['ICN'], 'eu': 'N', 'visa': F...",2025-03-05T05:20:00.000+01:00,2025-03-05,05:20:00,J,3.0,4,"{'codeshares': ['AF3112', 'KE5925']}"
9,2025-03-05T06:58:50.163+01:00,2025-03-05T04:56:29.000+01:00,PHBQE,"{'iataMain': '777', 'iataSub': '772'}",{'belts': ['15']},2025-03-05T04:56:34.000+01:00,2025-03-05T06:15:29.889+01:00,A,AF3112,3112,F5,F,141854995390349326,True,KL0856,AF,AFR,80.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['ICN'], 'eu': 'N', 'visa': F...",2025-03-05T05:20:00.000+01:00,2025-03-05,05:20:00,J,3.0,4,"{'codeshares': ['AF3112', 'KE5925']}"
10,2025-03-05T06:58:50.163+01:00,2025-03-05T04:56:29.000+01:00,PHBQE,"{'iataMain': '777', 'iataSub': '772'}",{'belts': ['15']},2025-03-05T04:56:34.000+01:00,2025-03-05T06:15:29.889+01:00,A,KE5925,5925,F5,F,141854996773704740,True,KL0856,KE,KAL,105.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['ICN'], 'eu': 'N', 'visa': F...",2025-03-05T05:20:00.000+01:00,2025-03-05,05:20:00,J,3.0,4,"{'codeshares': ['AF3112', 'KE5925']}"
11,2025-03-05T07:24:17.352+01:00,2025-03-05T05:39:24.000+01:00,PHBVP,"{'iataMain': '777', 'iataSub': '77W'}",{'belts': ['22']},2025-03-05T05:39:53.000+01:00,2025-03-05T06:51:18.290+01:00,A,KL0714,714,E17,E,141854996799430912,True,KL0714,KL,KLM,100.0,{'flightStates': ['ARR']},"{'destinations': ['PBM'], 'eu': 'N', 'visa': F...",2025-03-05T05:45:00.000+01:00,2025-03-05,05:45:00,J,4.0,4,NaN
12,2025-03-05T07:11:56.756+01:00,2025-03-05T05:22:13.000+01:00,PHBHD,"{'iataMain': '787', 'iataSub': '789'}",{'belts': ['15']},2025-03-05T05:22:42.000+01:00,2025-03-05T06:32:26.564+01:00,A,KL0810,810,E22,E,141854996799433642,True,KL0810,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['CGK', 'KUL'], 'eu': 'N', 'v...",2025-03-05T05:50:00.000+01:00,2025-03-05,05:50:00,J,3.0,4,"{'codeshares': ['AF8398', 'GA9088', 'MH5632']}"
13,2025-03-05T07:11:56.756+01:00,2025-03-05T05:22:13.000+01:00,PHBHD,"{'iataMain': '787', 'iataSub': '789'}",{'belts': ['15']},2025-03-05T05:22:42.000+01:00,2025-03-05T06:32:26.564+01:00,A,AF8398,8398,E22,E,141854995390861936,True,KL0810,AF,AFR,80.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['CGK', 'KUL'], 'eu': 'N', 'v...",2025-03-05T05:50:00.000+01:00,2025-03-05,05:50:00,J,3.0,4,"{'codeshares': ['AF8398', 'GA9088', 'MH5632']}"
14,2025-03-05T07:11:56.756+01:00,2025-03-05T05:22:13.000+01:00,PHBHD,"{'iataMain': '787', 'iataSub': '789'}",{'belts': ['15']},2025-03-05T05:22:42.000+01:00,2025-03-05T06:32:26.564+01:00,A,GA9088,9088,E22,E,141854996204340828,True,KL0810,GA,GIA,85.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['CGK', 'KUL'], 'eu': 'N', 'v...",2025-03-05T05:50:00.000+01:00,2025-03-05,05:50:00,J,3.0,4,"{'codeshares': ['AF8398', 'GA9088', 'MH5632']}"
15,2025-03-05T07:11:56.756+01:00,2025-03-05T05:22:13.000+01:00,PHBHD,"{'iataMain': '787', 'iataSub': '789'}",{'belts': ['15']},2025-03-05T05:22:42.000+01:00,2025-03-05T06:32:26.564+01:00,A,MH5632,5632,E22,E,141854997062317388,True,KL0810,MH,MAS,5065.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['CGK', 'KUL'], 'eu': 'N', 'v...",2025-03-05T05:50:00.000+01:00,2025-03-05,05:50:00,J,3.0,4,"{'codeshares': ['AF8398', 'GA9088', 'MH5632']}"
16,2025-03-05T08:05:06.203+01:00,2025-03-05T05:47:08.000+01:00,PHBVI,"{'iataMain': '777', 'iataSub': '77W'}",{'belts': ['19']},2025-03-05T05:47:44.000+01:00,2025-03-05T07:22:20.754+01:00,A,KL0590,590,E20,E,141854996799426020,True,KL0590,KL,KLM,100.0,{'flightStates': ['ARR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': F...",2025-03-05T05:50:00.000+01:00,2025-03-05,05:50:00,J,4.0,4,"{'codeshares': ['AF8248', 'DL9373']}"
17,2025-03-05T08:05:06.203+01:00,2025-03-05T05:47:08.000+01:00,PHBVI,"{'iataMain': '777', 'iataSub': '77W'}",{'belts': ['19']},2025-03-05T05:47:44.000+01:00,2025-03-05T07:22:20.754+01:00,A,AF8248,8248,E20,E,141854995390858828,True,KL0590,AF,AFR,80.0,{'flightStates': ['ARR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': F...",2025-03-05T05:50:00.000+01:00,2025-03-05,05:50:00,J,4.0,4,"{'codeshares': ['AF8248', 'DL9373']}"
18,2025-03-05T08:05:06.203+01:00,2025-03-05T05:47:08.000+01:00,PHBVI,"{'iataMain': '777', 'iataSub': '77W'}",{'belts': ['19']},2025-03-05T05:47:44.000+01:00,2025-03-05T07:22:20.754+01:00,A,DL9373,9373,E20,E,141854995829516758,True,KL0590,DL,DAL,58.0,{'flightStates': ['ARR']},"{'destinations': ['ACC'], 'eu': 'N', 'visa': F...",2025-03-05T05:50:00.000+01:00,2025-03-05,05:50:00,J,4.0,4,"{'codeshares': ['AF8248', 'DL9373']}"
19,2025-03-05T07:30:25.272+01:00,2025-03-05T05:36:51.000+01:00,PHBKH,"{'iataMain': '787', 'iataSub': '781'}",{'belts': ['18']},2025-03-05T05:37:01.000+01:00,2025-03-05T07:02:09.451+01:00,A,KL0624,624,D10,D,141854996799428248,True,KL0624,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['ATL'], 'eu': 'N', 'visa': F...",2025-03-05T05:55:00.000+01:00,2025-03-05,05:55:00,J,3.0,4,"{'codeshares': ['AF6695', 'DL9667', 'VS7113']}"

In [575]:
# Data wordt op verschillende pagina's opgeslagen, door de URL te splitsen kunnen we door de pagina's lopen
url_base = "https://api.schiphol.nl/public-flights/flights"

headers = {
    'accept': 'application/json',
    'resourceversion': 'v4',
    'app_id': 'aaeab06e',
    'app_key': '346684b4f4090227ec9abe2d93526665'
}

max_pages = 4  # Limiet op het aantal pagina's dat doorlopen wordt

@st.cache_data(ttl=3600)  # Cache for 1 hour to avoid repeated requests
def fetch_flight_data(url_base=url_base, max_pages=max_pages, headers=headers):    
    all_flights = []  # Lijst om de data van alle pagina's op te slaan

    for page in range(max_pages):   # Via een for-loop de URL aanpassen
        url = f"{url_base}?includedelays=false&page={page}&sort=%2BscheduleTime"    # de URL aanpassen naar de pagina's
        response = requests.get(url, headers=headers)   # Response defineren via .get() request
        data = response.json()  # Response inlezen met .json()
        all_flights.extend(data["flights"])  # De all_flights dataframe aanvullen met de waardes van de pagina's 
        time.sleep(1)  # korte pauze tussen .get() requests om een rate limit te voorkomen

    df = pd.DataFrame(all_flights)  # nadat alle pagina's zijn ingelezen 

df_cache = fetch_flight_data()

df.head()

2025-03-05 18:32:27.329 No runtime found, using MemoryCacheStorageManager

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,codeshares
0,2025-03-05T01:57:01.624+01:00,2025-03-05T00:15:23.000+01:00,PHHXN,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['16']},2025-03-05T00:15:17.000+01:00,2025-03-05T01:19:02.377+01:00,A,HV5226,5226,E6,E,141854996421343308,True,HV5226,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['HRG'], 'eu': 'N', 'visa': F...",2025-03-05T00:10:00.000+01:00,2025-03-05,00:10:00,J,3.0,4,NaN
1,2024-10-16T15:16:54.457+02:00,NaN,NaN,"{'iataMain': '73H', 'iataSub': '73H'}",NaN,NaN,NaN,A,HV6902,6902,NaN,NaN,141854996421463624,False,HV6902,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['DXB', 'ATH'], 'eu': 'N', 'v...",2025-03-05T00:35:00.000+01:00,2025-03-05,00:35:00,J,NaN,4,NaN
2,2025-03-05T02:18:54.174+01:00,2025-03-05T00:33:27.000+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,HV6672,6672,C11,C,141854996421455928,True,HV6672,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}"
3,2025-03-05T02:18:54.174+01:00,2025-03-05T00:33:27.000+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,KL2591,2591,C11,C,141854996799628634,True,HV6672,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}"
4,2025-03-05T02:18:54.174+01:00,2025-03-05T00:33:27.000+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,DL7488,7488,C11,C,141854995829316968,True,HV6672,DL,DAL,58.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}"

### Exploratory Data Analysis

In [576]:
df.info()   #opvallend dat de tijd kolommen niet als Datetime staan

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lastUpdatedAt         20 non-null     object
 1   actualLandingTime     19 non-null     object
 2   aircraftRegistration  19 non-null     object
 3   aircraftType          20 non-null     object
 4   baggageClaim          16 non-null     object
 5   estimatedLandingTime  19 non-null     object
 6   expectedTimeOnBelt    16 non-null     object
 7   flightDirection       20 non-null     object
 8   flightName            20 non-null     object
 9   flightNumber          20 non-null     int64
 10  gate                  16 non-null     object
 11  pier                  16 non-null     object
 12  id                    20 non-null     object
 13  isOperationalFlight   20 non-null     bool
 14  mainFlight            20 non-null     object
 15  prefixIATA            20 non-null     object
 16  prefixICAO            19 non-null     object
 17  airlineCode           19 non-null     float64
 18  publicFlightState     20 non-null     object
 19  route                 20 non-null     object
 20  scheduleDateTime      20 non-null     object
 21  scheduleDate          20 non-null     object
 22  scheduleTime          20 non-null     object
 23  serviceType           20 non-null     object
 24  terminal              16 non-null     float64
 25  schemaVersion         20 non-null     object
 26  codeshares            14 non-null     object
dtypes: bool(1), float64(2), int64(1), object(23)
memory usage: 4.2+ KB

In [ ]:
# Kolommen met meerdere waardes splitsen 

## df['destination'] = df['route'].apply(lambda x: ', '.join(x['destinations']) if 'destinations' in x else None) 
    # deze code geeft alle bestemmingen

# De route kolom splitsen in bestemming, eu en visa 
df['destination'] = df['route'].apply(lambda x: x.get('destinations', [None])[0])   # [0] gebruiken om alleen de eerste waarde uit de lijst te krijgen
df['eu'] = df['route'].apply(lambda x: x.get('eu', [None]))
df['visa'] = df['route'].apply(lambda x: x.get('visa', [None]))

df['vlucht_status'] = df['publicFlightState'].apply(lambda x: x.get('flightStates', [None])[0])    # [0] gebruiken om alleen de eerste waarde uit de lijst te krijgen

df["baggage_belt"] = df["baggageClaim"].apply(
    lambda x: int(x["belts"][0]) if isinstance(x, dict) and "belts" in x and isinstance(x["belts"], list) and x["belts"] else None
).fillna(0).astype(int)     # krijgt de belt nummer uit de dictionairy en maakt daar een integer van

# De aircraftType kolom splitsen in iataMain en iataSub
df['iataMain'] = df['aircraftType'].apply(lambda x: x.get('iataMain', [None]))
df['iataSub'] = df['aircraftType'].apply(lambda x: x.get('iataSub', [None]))

# tijd data opslaan als Datetime datatype
df['actualLandingTime'] = pd.to_datetime(df['actualLandingTime'])

# controle op de nieuwe kollomen
df.head()

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,codeshares,destination,eu,visa,vlucht_status,baggage_belt,iataMain,iataSub
0,2025-03-05T01:57:01.624+01:00,2025-03-05 00:15:23+01:00,PHHXN,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['16']},2025-03-05T00:15:17.000+01:00,2025-03-05T01:19:02.377+01:00,A,HV5226,5226,E6,E,141854996421343308,True,HV5226,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['HRG'], 'eu': 'N', 'visa': F...",2025-03-05T00:10:00.000+01:00,2025-03-05,00:10:00,J,3.0,4,NaN,HRG,N,False,ARR,16,737,73H
1,2024-10-16T15:16:54.457+02:00,NaT,NaN,"{'iataMain': '73H', 'iataSub': '73H'}",NaN,NaN,NaN,A,HV6902,6902,NaN,NaN,141854996421463624,False,HV6902,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['DXB', 'ATH'], 'eu': 'N', 'v...",2025-03-05T00:35:00.000+01:00,2025-03-05,00:35:00,J,NaN,4,NaN,DXB,N,False,SCH,0,73H,73H
2,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,HV6672,6672,C11,C,141854996421455928,True,HV6672,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}",TFS,S,False,ARR,2,32S,32Q
3,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,KL2591,2591,C11,C,141854996799628634,True,HV6672,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}",TFS,S,False,ARR,2,32S,32Q
4,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,DL7488,7488,C11,C,141854995829316968,True,HV6672,DL,DAL,58.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}",TFS,S,False,ARR,2,32S,32Q

In [578]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lastUpdatedAt         20 non-null     object
 1   actualLandingTime     19 non-null     datetime64[ns, UTC+01:00]
 2   aircraftRegistration  19 non-null     object
 3   aircraftType          20 non-null     object
 4   baggageClaim          16 non-null     object
 5   estimatedLandingTime  19 non-null     object
 6   expectedTimeOnBelt    16 non-null     object
 7   flightDirection       20 non-null     object
 8   flightName            20 non-null     object
 9   flightNumber          20 non-null     int64
 10  gate                  16 non-null     object
 11  pier                  16 non-null     object
 12  id                    20 non-null     object
 13  isOperationalFlight   20 non-null     bool
 14  mainFlight            20 non-null     object
 15  prefixIATA            20 non-null     object
 16  prefixICAO            19 non-null     object
 17  airlineCode           19 non-null     float64
 18  publicFlightState     20 non-null     object
 19  route                 20 non-null     object
 20  scheduleDateTime      20 non-null     object
 21  scheduleDate          20 non-null     object
 22  scheduleTime          20 non-null     object
 23  serviceType           20 non-null     object
 24  terminal              16 non-null     float64
 25  schemaVersion         20 non-null     object
 26  codeshares            14 non-null     object
 27  destination           20 non-null     object
 28  eu                    20 non-null     object
 29  visa                  20 non-null     bool
 30  vlucht_status         20 non-null     object
 31  baggage_belt          20 non-null     int64
 32  iataMain              20 non-null     object
 33  iataSub               20 non-null     object
dtypes: bool(2), datetime64[ns, UTC+01:00](1), float64(2), int64(2), object(27)
memory usage: 5.2+ KB

In [579]:
df['destination'].isna().sum()

0

In [580]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lastUpdatedAt         20 non-null     object
 1   actualLandingTime     19 non-null     datetime64[ns, UTC+01:00]
 2   aircraftRegistration  19 non-null     object
 3   aircraftType          20 non-null     object
 4   baggageClaim          16 non-null     object
 5   estimatedLandingTime  19 non-null     object
 6   expectedTimeOnBelt    16 non-null     object
 7   flightDirection       20 non-null     object
 8   flightName            20 non-null     object
 9   flightNumber          20 non-null     int64
 10  gate                  16 non-null     object
 11  pier                  16 non-null     object
 12  id                    20 non-null     object
 13  isOperationalFlight   20 non-null     bool
 14  mainFlight            20 non-null     object
 15  prefixIATA            20 non-null     object
 16  prefixICAO            19 non-null     object
 17  airlineCode           19 non-null     float64
 18  publicFlightState     20 non-null     object
 19  route                 20 non-null     object
 20  scheduleDateTime      20 non-null     object
 21  scheduleDate          20 non-null     object
 22  scheduleTime          20 non-null     object
 23  serviceType           20 non-null     object
 24  terminal              16 non-null     float64
 25  schemaVersion         20 non-null     object
 26  codeshares            14 non-null     object
 27  destination           20 non-null     object
 28  eu                    20 non-null     object
 29  visa                  20 non-null     bool
 30  vlucht_status         20 non-null     object
 31  baggage_belt          20 non-null     int64
 32  iataMain              20 non-null     object
 33  iataSub               20 non-null     object
dtypes: bool(2), datetime64[ns, UTC+01:00](1), float64(2), int64(2), object(27)
memory usage: 5.2+ KB

In [581]:
# check of er True waardes in de nieuwe visa kolom zitten
sum(df["visa"])

0

In [582]:
df.head()

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,codeshares,destination,eu,visa,vlucht_status,baggage_belt,iataMain,iataSub
0,2025-03-05T01:57:01.624+01:00,2025-03-05 00:15:23+01:00,PHHXN,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['16']},2025-03-05T00:15:17.000+01:00,2025-03-05T01:19:02.377+01:00,A,HV5226,5226,E6,E,141854996421343308,True,HV5226,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['HRG'], 'eu': 'N', 'visa': F...",2025-03-05T00:10:00.000+01:00,2025-03-05,00:10:00,J,3.0,4,NaN,HRG,N,False,ARR,16,737,73H
1,2024-10-16T15:16:54.457+02:00,NaT,NaN,"{'iataMain': '73H', 'iataSub': '73H'}",NaN,NaN,NaN,A,HV6902,6902,NaN,NaN,141854996421463624,False,HV6902,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['DXB', 'ATH'], 'eu': 'N', 'v...",2025-03-05T00:35:00.000+01:00,2025-03-05,00:35:00,J,NaN,4,NaN,DXB,N,False,SCH,0,73H,73H
2,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,HV6672,6672,C11,C,141854996421455928,True,HV6672,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}",TFS,S,False,ARR,2,32S,32Q
3,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,KL2591,2591,C11,C,141854996799628634,True,HV6672,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}",TFS,S,False,ARR,2,32S,32Q
4,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,DL7488,7488,C11,C,141854995829316968,True,HV6672,DL,DAL,58.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['TFS'], 'eu': 'S', 'visa': F...",2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,4,"{'codeshares': ['DL7488', 'KL2591']}",TFS,S,False,ARR,2,32S,32Q

In [583]:
# Onnodige kolommen verwijderen
df = df.drop(columns=["route",'publicFlightState','baggageClaim','aircraftType', 'flightName', 'flightNumber', 'id', 'airlineCode', 'schemaVersion', 'codeshares', 'actualOffBlockTime','checkinAllocations', 'expectedSecurityFilter', 'expectedTimeBoarding', 'expectedTimeGateClosing', 'expectedTimeGateOpen'])

df.head()

KeyError: "['actualOffBlockTime', 'checkinAllocations', 'expectedSecurityFilter', 'expectedTimeBoarding', 'expectedTimeGateClosing', 'expectedTimeGateOpen'] not found in axis"

### Import vliegveld dataset

In [ ]:
Airports = pd.read_csv('world-airports.csv')

### EDA op de vliegveld dataset

In [ ]:
Airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,region_name,iso_region,local_region,municipality,scheduled_service,gps_code,icao_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,2434,EGLL,large_airport,London Heathrow Airport,51.470600,-0.461941,83.0,EU,United Kingdom,GB,England,GB-ENG,ENG,London,1,EGLL,EGLL,LHR,NaN,http://www.heathrowairport.com/,https://en.wikipedia.org/wiki/Heathrow_Airport,"LON, Londres",1251675,2022-10-18T18:48:50+00:00
1,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,United States,US,California,US-CA,CA,Los Angeles,1,KLAX,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,Tom Bradley,1335475,2024-04-02T16:36:13+00:00
2,3754,KORD,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,680.0,NaN,United States,US,Illinois,US-IL,IL,Chicago,1,KORD,KORD,ORD,ORD,https://www.flychicago.com/ohare/home/pages/de...,https://en.wikipedia.org/wiki/O'Hare_Internati...,"CHI, Orchard Place",1503175,2024-03-09T23:28:49+00:00
3,3622,KJFK,large_airport,John F Kennedy International Airport,40.639447,-73.779317,13.0,NaN,United States,US,New York,US-NY,NY,New York,1,KJFK,KJFK,JFK,JFK,https://www.jfkairport.com/,https://en.wikipedia.org/wiki/John_F._Kennedy_...,"Manhattan, New York City, NYC, Idlewild, IDL, ...",1052075,2022-10-18T18:49:55+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,1026.0,NaN,United States,US,Georgia,US-GA,GA,Atlanta,1,KATL,KATL,ATL,ATL,http://www.atlanta-airport.com/,https://en.wikipedia.org/wiki/Hartsfield–Jacks...,NaN,2002475,2024-04-02T16:26:01+00:00

In [ ]:
Airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82387 entries, 0 to 82386
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 82387 non-null  int64
 1   ident              82387 non-null  object
 2   type               82387 non-null  object
 3   name               82387 non-null  object
 4   latitude_deg       82387 non-null  float64
 5   longitude_deg      82387 non-null  float64
 6   elevation_ft       67934 non-null  float64
 7   continent          43400 non-null  object
 8   country_name       82387 non-null  object
 9   iso_country        82127 non-null  object
 10  region_name        82387 non-null  object
 11  iso_region         82387 non-null  object
 12  local_region       82370 non-null  object
 13  municipality       77617 non-null  object
 14  scheduled_service  82387 non-null  int64
 15  gps_code           43094 non-null  object
 16  icao_code          7636 non-null   object
 17  iata_code          9095 non-null   object
 18  local_code         35733 non-null  object
 19  home_link          4262 non-null   object
 20  wikipedia_link     16476 non-null  object
 21  keywords           19883 non-null  object
 22  score              82387 non-null  int64
 23  last_updated       82387 non-null  object
dtypes: float64(3), int64(3), object(18)
memory usage: 15.1+ MB

In [ ]:
# Onnodige kolommen verwijderen
Airports_clean = Airports.drop(columns=['home_link', 'wikipedia_link', 'scheduled_service', 'score', 'last_updated', 'elevation_ft', 'id', 'keywords', 'iso_region', 'ident'])
Airports_clean.head()

,type,name,latitude_deg,longitude_deg,continent,country_name,iso_country,region_name,local_region,municipality,gps_code,icao_code,iata_code,local_code
0,large_airport,London Heathrow Airport,51.470600,-0.461941,EU,United Kingdom,GB,England,ENG,London,EGLL,EGLL,LHR,NaN
1,large_airport,Los Angeles International Airport,33.942501,-118.407997,NaN,United States,US,California,CA,Los Angeles,KLAX,KLAX,LAX,LAX
2,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,NaN,United States,US,Illinois,IL,Chicago,KORD,KORD,ORD,ORD
3,large_airport,John F Kennedy International Airport,40.639447,-73.779317,NaN,United States,US,New York,NY,New York,KJFK,KJFK,JFK,JFK
4,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,NaN,United States,US,Georgia,GA,Atlanta,KATL,KATL,ATL,ATL

### Samenvoegen van de vlucht en vliegveld data

In [ ]:
Airports_Flight = df.merge(Airports_clean, how='left', left_on='destination', right_on='iata_code', suffixes=['_Port', '_Flight'])
Airports_Flight.head()

,lastUpdatedAt,actualLandingTime,aircraftRegistration,estimatedLandingTime,expectedTimeOnBelt,flightDirection,gate,pier,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,destination,eu,visa,vlucht_status,baggage_belt,iataMain,iataSub,type,name,latitude_deg,longitude_deg,continent,country_name,iso_country,region_name,local_region,municipality,gps_code,icao_code,iata_code,local_code
0,2025-03-05T01:57:01.624+01:00,2025-03-05 00:15:23+01:00,PHHXN,2025-03-05T00:15:17.000+01:00,2025-03-05T01:19:02.377+01:00,A,E6,E,True,HV5226,HV,TRA,2025-03-05T00:10:00.000+01:00,2025-03-05,00:10:00,J,3.0,HRG,N,False,ARR,16,737,73H,large_airport,Hurghada International Airport,27.176776,33.796692,AF,Egypt,EG,Red Sea Governorate,BA,Hurghada,HEGN,HEGN,HRG,NaN
1,2024-10-16T15:16:54.457+02:00,NaT,NaN,NaN,NaN,A,NaN,NaN,False,HV6902,HV,NaN,2025-03-05T00:35:00.000+01:00,2025-03-05,00:35:00,J,NaN,DXB,N,False,SCH,0,73H,73H,large_airport,Dubai International Airport,25.252800,55.364399,AS,United Arab Emirates,AE,Dubai Emirate,DU,Dubai,OMDB,OMDB,DXB,NaN
2,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,C11,C,True,HV6672,HV,TRA,2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,TFS,S,False,ARR,2,32S,32Q,large_airport,Tenerife Sur Airport,28.044500,-16.572500,AF,Spain,ES,Canary Islands,CN,Tenerife,GCTS,GCTS,TFS,NaN
3,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,C11,C,True,HV6672,KL,KLM,2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,TFS,S,False,ARR,2,32S,32Q,large_airport,Tenerife Sur Airport,28.044500,-16.572500,AF,Spain,ES,Canary Islands,CN,Tenerife,GCTS,GCTS,TFS,NaN
4,2025-03-05T02:18:54.174+01:00,2025-03-05 00:33:27+01:00,PHYHX,2025-03-05T00:33:50.000+01:00,2025-03-05T01:12:11.000+01:00,A,C11,C,True,HV6672,DL,DAL,2025-03-05T01:05:00.000+01:00,2025-03-05,01:05:00,J,1.0,TFS,S,False,ARR,2,32S,32Q,large_airport,Tenerife Sur Airport,28.044500,-16.572500,AF,Spain,ES,Canary Islands,CN,Tenerife,GCTS,GCTS,TFS,NaN

### EDA op de samengevoegde dataset

In [ ]:
Airports_Flight['type'].unique()

array(['large_airport', 'medium_airport'], dtype=object)