### Import packages

In [14]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import streamlit as st
import time

### API data verzameling

In [15]:
# zet de DataFrame weergave naar alle kollomen

pd.set_option('display.max_columns', None)

In [16]:
# Haal data uit de API 

# defineer URL
url = 'https://api.schiphol.nl/public-flights/flights?includedelays=false&page=0&sort=%2BscheduleTime'


# Gebruik headers om te communiceren met de API en toegang te krijgen tot de data
headers = {
    'accept': 'application/json',
    'resourceversion': 'v4',
    'app_id': 'aaeab06e',
    'app_key': '346684b4f4090227ec9abe2d93526665'
}
    

response = requests.request('GET', url, headers=headers) # Krijg toegang tot de data via een Get request (response = 200)
flights_data = response.json()  # Convert response to dictionary
df = pd.DataFrame(flights_data["flights"])  # Convert to DataFrame
df # zichtbaar dat er maar 20 waardes uitkomen

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,codeshares,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion
0,2025-04-01T01:57:42.007+02:00,2025-03-31T23:46:55.000+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,HV5752,5752,E6,E,142044670311868946,True,HV5752,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4
1,2025-04-01T01:57:42.007+02:00,2025-03-31T23:46:55.000+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,KL2624,2624,E6,E,142044670690142594,True,HV5752,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4
2,2024-08-22T10:50:02.759+02:00,NaN,NaN,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,NaN,NaN,NaN,A,HV6888,6888,NaN,NaN,142044670311973224,False,HV6888,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['KEF'], 'eu': 'S', 'visa': F...",2025-04-01T00:15:00.000+02:00,2025-04-01,00:15:00,J,NaN,4
3,2025-04-01T01:57:42.779+02:00,2025-04-01T00:18:01.000+02:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},NaN,2025-04-01T00:18:01.000+02:00,2025-04-01T00:45:16.000+02:00,A,HV5134,5134,C9,C,142044670311852374,True,HV5134,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['BCN'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,1.0,4
4,2025-04-01T02:17:34.213+02:00,2025-04-01T00:21:50.000+02:00,PHTFT,"{'iataMain': '737', 'iataSub': '7M8'}",{'belts': ['20']},NaN,2025-04-01T00:21:50.000+02:00,2025-04-01T01:33:34.497+02:00,A,OR1636,1636,Z02,Z,142044671267282954,True,OR1636,OR,TFL,231.0,{'flightStates': ['ARR']},"{'destinations': ['LPA'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,4.0,4
5,2025-04-01T02:17:08.186+02:00,2025-04-01T00:35:22.000+02:00,PHYHW,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['6']},{'codeshares': ['KL2574']},2025-04-01T00:35:22.000+02:00,2025-04-01T01:12:25.000+02:00,A,HV5662,5662,D85,D,142044670311866282,True,HV5662,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['LPA'], 'eu': 'S', 'visa': F...",2025-04-01T00:30:00.000+02:00,2025-04-01,00:30:00,J,1.0,4
6,2025-04-01T02:17:08.186+02:00,2025-04-01T00:35:22.000+02:00,PHYHW,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['6']},{'codeshares': ['KL2574']},2025-04-01T00:35:22.000+02:00,2025-04-01T01:12:25.000+02:00,A,KL2574,2574,D85,D,142044670690140226,True,HV5662,KL,KLM,100.0,{'flightStates': ['ARR']},"{'destinations': ['LPA'], 'eu': 'S', 'visa': F...",2025-04-01T00:30:00.000+02:00,2025-04-01,00:30:00,J,1.0,4
7,2025-04-01T01:58:49.202+02:00,2025-04-01T00:25:50.000+02:00,PHHSC,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['4']},NaN,2025-04-01T00:25:50.000+02:00,2025-04-01T00:54:06.000+02:00,A,HV5956,5956,D87,D,142044670311874430,True,HV5956,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['LIS'], 'eu': 'S', 'visa': F...",2025-04-01T00:35:00.000+02:00,2025-04-01,00:35:00,J,1.0,4
8,2025-04-01T02:09:58.165+02:00,2025-04-01T00:37:02.000+02:00,PHBCH,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['18']},{'codeshares': ['DL9356']},2025-04-01T00:37:02.000+02:00,2025-04-01T01:40:21.897+02:00,A,KL1682,1682,D78,D,142044670690041728,True,KL1682,KL,KLM,100.0,{'flightStates': ['ARR']},"{'destinations': ['LIN'], 'eu': 'S', 'visa': F...",2025-04-01T00:45:00.000+02:00,2025-04-01,00:45:00,J,3.0,4
9,2025-04-01T02:09:58.165+02:00,2025-04-01T00:37:02.000+02:00,PHBCH,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['18']},{'codeshares': ['DL9356']},2025-04-01T00:37:02.000+02:00,2025-04-01T01:40:21.897+02:00,A,DL9356,9356,D78,D,142044669720028350,True,KL1682,DL,DAL,58.0,{'flightStates': ['ARR']},"{'destinations': ['LIN'], 'eu': 'S', 'visa': F...",2025-04-01T00:45:00.000+02:00,2025-04-01,00:45:00,J,3.0,4
10,2025-04-01T03:32:22.206+02:00,2025-04-01T01:47:45.000+02:00,PHHZL,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['2']},{'codeshares': ['KL2660']},2025-04-01T01:47:45.000+02:00,2025-04-01T02:24:03.000+02:00,A,HV5362,5362,D73,D,142044670311858068,True,HV5362,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['FAO'], 'eu': 'S', 'visa': F...",2025-04-01T01:50:00.000+02:00,2025-04-01,01:50:00,J,1.0,4
11,2025-04-01T03:32:22.206+02:00,2025-04-01T01:47:45.000+02:00,PHHZL,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['2']},{'codeshares': ['KL2660']},2025-04-01T01:47:45.000+02:00,2025-04-01T02:24:03.000+02:00,A,KL2660,2660,D73,D,142044670690142882,True,HV5362,KL,KLM,100.0,{'flightStates': ['ARR']},"{'destinations': ['FAO'], 'eu': 'S', 'visa': F...",2025-04-01T01:50:00.000+02:00,2025-04-01,01:50:00,J,1.0,4
12,2025-04-01T04:43:39.304+02:00,2025-04-01T02:05:57.000+02:00,PHCDQ,"{'iataMain': '737', 'iataSub': '7M9'}",{'belts': ['19']},NaN,2025-04-01T02:05:57.000+02:00,2025-04-01T02:51:39.977+02:00,A,CD158,158,D66,D,142044669128294532,True,CD158,CD,CND,4982.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['HER'], 'eu': 'S', 'visa': F...",2025-04-01T02:25:00.000+02:00,2025-04-01,02:25:00,C,4.0,4
13,2025-04-01T04:52:23.120+02:00,2025-04-01T04:41:42.000+02:00,OELYD,"{'iataMain': '76F', 'iataSub': '76Y'}",NaN,NaN,2025-04-01T04:41:42.000+02:00,NaN,A,QY1446,1446,NaN,NaN,142044671570891634,True,QY1446,QY,BCS,289.0,"{'flightStates': ['LND', 'EXP']}","{'destinations': ['LEJ'], 'eu': 'S', 'visa': F...",2025-04-01T05:00:00.000+02:00,2025-04-01,05:00:00,F,NaN,4
14,2025-04-01T05:36:43.202+02:00,2025-04-01T05:27:15.000+02:00,OEIXF,"{'iataMain': '73F', 'iataSub': '73K'}",NaN,NaN,2025-04-01T05:27:15.000+02:00,NaN,A,FX4235,4235,NaN,NaN,142044670041874624,True,FX4235,FX,FDX,219.0,"{'flightStates': ['LND', 'EXP']}","{'destinations': ['CDG'], 'eu': 'S', 'visa': F...",2025-04-01T05:17:00.000+02:00,2025-04-01,05:17:00,F,NaN,4
15,2025-04-01T06:53:51.156+02:00,2025-04-01T05:14:58.000+02:00,N404DX,"{'iataMain': '330', 'iataSub': '339'}",{'belts': ['16']},"{'codeshares': ['AF3615', 'KL6095', 'VS3914']}",2025-04-01T05:14:58.000+02:00,2025-04-01T06:19:54.084+02:00,A,DL0256,256,D43,D,142044669719113858,True,DL0256,DL,DAL,58.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['BOS'], 'eu': 'N', 'visa': F...",2025-04-01T05:40:00.000+02:00,2025-04-01,05:40:00,J,3.0,4
16,2025-04-01T06:53:51.156+02:00,2025-04-01T05:14:58.000+02:00,N404DX,"{'iataMain': '330', 'iataSub': '339'}",{'belts': ['16']},"{'codeshares': ['AF3615', 'KL6095', 'VS3914']}",2025-04-01T05:14:58.000+02:00,2025-04-01T06:19:54.084+02:00,A,KL6095,6095,D43,D,142044670690531910,True,DL0256,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['BOS'], 'eu': 'N', 'visa': F...",2025-04-01T05:40:00.000+02:00,2025-04-01,05:40:00,J,3.0,4
17,2025-04-01T06:53:51.156+02:00,2025-04-01T05:14:58.000+02:00,N404DX,"{'iataMain': '330', 'iataSub': '339'}",{'belts': ['16']},"{'codeshares': ['AF3615', 'KL6095', 'VS3914']}",2025-04-01T05:14:58.000+02:00,2025-04-01T06:19:54.084+02:00,A,VS3914,3914,D43,D,142044672242057348,True,DL0256,VS,VIR,181.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['BOS'], 'eu': 'N', 'visa': F...",2025-04-01T05:40:00.000+02:00,2025-04-01,05:40:00,J,3.0,4
18,2025-04-01T06:53:51.156+02:00,2025-04-01T05:14:58.000+02:00,N404DX,"{'iataMain': '330', 'iataSub': '339'}",{'belts': ['16']},"{'codeshares': ['AF3615', 'KL6095', 'VS3914']}",2025-04-01T05:14:58.000+02:00,2025-04-01T06:19:54.084+02:00,A,AF3615,3615,D43,D,142044669280874756,True,DL0256,AF,AFR,80.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['BOS'], 'eu': 'N', 'visa': F...",2025-04-01T05:40:00.000+02:00,2025-04-01,05:40:00,J,3.0,4
19,2025-02-14T17:02:54.634+01:00,NaN,NaN,"{'iataMain': '73H', 'iataSub': '73H'}",NaN,NaN,NaN,NaN,D,HV5131,5131,NaN,NaN,142044670311852369,False,HV5131,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['BCN'], 'eu': 'S', 'visa': F...",2025-04-01T06:00:00.000+02:00,2025-04-01,06:00:00,J,NaN,4

In [17]:
# Data wordt op verschillende pagina's opgeslagen, door de URL te splitsen kunnen we door de pagina's lopen
url_base = "https://api.schiphol.nl/public-flights/flights"

headers = {
    'accept': 'application/json',
    'resourceversion': 'v4',
    'app_id': 'aaeab06e',
    'app_key': '346684b4f4090227ec9abe2d93526665'
}

max_pages = 4  # Limiet op het aantal pagina's dat doorlopen wordt

@st.cache_data(ttl=3600)  # Cache for 1 hour to avoid repeated requests
def fetch_flight_data(url_base=url_base, max_pages=max_pages, headers=headers):    
    all_flights = []  # Lijst om de data van alle pagina's op te slaan

    for page in range(max_pages):   # Via een for-loop de URL aanpassen
        url = f"{url_base}?includedelays=false&page={page}&sort=%2BscheduleTime"    # de URL aanpassen naar de pagina's
        response = requests.get(url, headers=headers)   # Response defineren via .get() request
        data = response.json()  # Response inlezen met .json()
        all_flights.extend(data["flights"])  # De all_flights dataframe aanvullen met de waardes van de pagina's 
        time.sleep(1)  # korte pauze tussen .get() requests om een rate limit te voorkomen

    df = pd.DataFrame(all_flights)  # nadat alle pagina's zijn ingelezen 

df_cache = fetch_flight_data()

df.head()

2025-04-01 16:36:12.021 No runtime found, using MemoryCacheStorageManager

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,codeshares,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion
0,2025-04-01T01:57:42.007+02:00,2025-03-31T23:46:55.000+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,HV5752,5752,E6,E,142044670311868946,True,HV5752,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4
1,2025-04-01T01:57:42.007+02:00,2025-03-31T23:46:55.000+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,KL2624,2624,E6,E,142044670690142594,True,HV5752,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4
2,2024-08-22T10:50:02.759+02:00,NaN,NaN,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,NaN,NaN,NaN,A,HV6888,6888,NaN,NaN,142044670311973224,False,HV6888,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['KEF'], 'eu': 'S', 'visa': F...",2025-04-01T00:15:00.000+02:00,2025-04-01,00:15:00,J,NaN,4
3,2025-04-01T01:57:42.779+02:00,2025-04-01T00:18:01.000+02:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},NaN,2025-04-01T00:18:01.000+02:00,2025-04-01T00:45:16.000+02:00,A,HV5134,5134,C9,C,142044670311852374,True,HV5134,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['BCN'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,1.0,4
4,2025-04-01T02:17:34.213+02:00,2025-04-01T00:21:50.000+02:00,PHTFT,"{'iataMain': '737', 'iataSub': '7M8'}",{'belts': ['20']},NaN,2025-04-01T00:21:50.000+02:00,2025-04-01T01:33:34.497+02:00,A,OR1636,1636,Z02,Z,142044671267282954,True,OR1636,OR,TFL,231.0,{'flightStates': ['ARR']},"{'destinations': ['LPA'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,4.0,4

### Exploratory Data Analysis

In [18]:
df.info()   #opvallend dat de tijd kolommen niet als Datetime staan

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lastUpdatedAt         20 non-null     object
 1   actualLandingTime     18 non-null     object
 2   aircraftRegistration  18 non-null     object
 3   aircraftType          20 non-null     object
 4   baggageClaim          16 non-null     object
 5   codeshares            12 non-null     object
 6   estimatedLandingTime  18 non-null     object
 7   expectedTimeOnBelt    16 non-null     object
 8   flightDirection       20 non-null     object
 9   flightName            20 non-null     object
 10  flightNumber          20 non-null     int64
 11  gate                  16 non-null     object
 12  pier                  16 non-null     object
 13  id                    20 non-null     object
 14  isOperationalFlight   20 non-null     bool
 15  mainFlight            20 non-null     object
 16  prefixIATA            20 non-null     object
 17  prefixICAO            18 non-null     object
 18  airlineCode           18 non-null     float64
 19  publicFlightState     20 non-null     object
 20  route                 20 non-null     object
 21  scheduleDateTime      20 non-null     object
 22  scheduleDate          20 non-null     object
 23  scheduleTime          20 non-null     object
 24  serviceType           20 non-null     object
 25  terminal              16 non-null     float64
 26  schemaVersion         20 non-null     object
dtypes: bool(1), float64(2), int64(1), object(23)
memory usage: 4.2+ KB

In [19]:
# Kolommen met meerdere waardes splitsen 

## df['destination'] = df['route'].apply(lambda x: ', '.join(x['destinations']) if 'destinations' in x else None) 
    # deze code geeft alle bestemmingen

# De route kolom splitsen in bestemming, eu en visa 
df['destination'] = df['route'].apply(lambda x: x.get('destinations', [None])[0])   # [0] gebruiken om alleen de eerste waarde uit de lijst te krijgen
df['eu'] = df['route'].apply(lambda x: x.get('eu', [None]))
df['visa'] = df['route'].apply(lambda x: x.get('visa', [None]))

df['vlucht_status'] = df['publicFlightState'].apply(lambda x: x.get('flightStates', [None])[0])    # [0] gebruiken om alleen de eerste waarde uit de lijst te krijgen

df["baggage_belt"] = df["baggageClaim"].apply(
    lambda x: int(x["belts"][0]) if isinstance(x, dict) and "belts" in x and isinstance(x["belts"], list) and x["belts"] else None
).fillna(0).astype(int)     # krijgt de belt nummer uit de dictionairy en maakt daar een integer van

# De aircraftType kolom splitsen in iataMain en iataSub
df['iataMain'] = df['aircraftType'].apply(lambda x: x.get('iataMain', [None]))
df['iataSub'] = df['aircraftType'].apply(lambda x: x.get('iataSub', [None]))

# tijd data opslaan als Datetime datatype
df['actualLandingTime'] = pd.to_datetime(df['actualLandingTime'])

# controle op de nieuwe kollomen
df.head()

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,codeshares,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,destination,eu,visa,vlucht_status,baggage_belt,iataMain,iataSub
0,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,HV5752,5752,E6,E,142044670311868946,True,HV5752,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4,RAK,N,False,ARR,15,737,73H
1,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,KL2624,2624,E6,E,142044670690142594,True,HV5752,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4,RAK,N,False,ARR,15,737,73H
2,2024-08-22T10:50:02.759+02:00,NaT,NaN,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,NaN,NaN,NaN,A,HV6888,6888,NaN,NaN,142044670311973224,False,HV6888,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['KEF'], 'eu': 'S', 'visa': F...",2025-04-01T00:15:00.000+02:00,2025-04-01,00:15:00,J,NaN,4,KEF,S,False,SCH,0,32S,32Q
3,2025-04-01T01:57:42.779+02:00,2025-04-01 00:18:01+02:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},NaN,2025-04-01T00:18:01.000+02:00,2025-04-01T00:45:16.000+02:00,A,HV5134,5134,C9,C,142044670311852374,True,HV5134,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['BCN'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,1.0,4,BCN,S,False,ARR,2,32S,32Q
4,2025-04-01T02:17:34.213+02:00,2025-04-01 00:21:50+02:00,PHTFT,"{'iataMain': '737', 'iataSub': '7M8'}",{'belts': ['20']},NaN,2025-04-01T00:21:50.000+02:00,2025-04-01T01:33:34.497+02:00,A,OR1636,1636,Z02,Z,142044671267282954,True,OR1636,OR,TFL,231.0,{'flightStates': ['ARR']},"{'destinations': ['LPA'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,4.0,4,LPA,S,False,ARR,20,737,7M8

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lastUpdatedAt         20 non-null     object
 1   actualLandingTime     18 non-null     datetime64[ns, UTC+02:00]
 2   aircraftRegistration  18 non-null     object
 3   aircraftType          20 non-null     object
 4   baggageClaim          16 non-null     object
 5   codeshares            12 non-null     object
 6   estimatedLandingTime  18 non-null     object
 7   expectedTimeOnBelt    16 non-null     object
 8   flightDirection       20 non-null     object
 9   flightName            20 non-null     object
 10  flightNumber          20 non-null     int64
 11  gate                  16 non-null     object
 12  pier                  16 non-null     object
 13  id                    20 non-null     object
 14  isOperationalFlight   20 non-null     bool
 15  mainFlight            20 non-null     object
 16  prefixIATA            20 non-null     object
 17  prefixICAO            18 non-null     object
 18  airlineCode           18 non-null     float64
 19  publicFlightState     20 non-null     object
 20  route                 20 non-null     object
 21  scheduleDateTime      20 non-null     object
 22  scheduleDate          20 non-null     object
 23  scheduleTime          20 non-null     object
 24  serviceType           20 non-null     object
 25  terminal              16 non-null     float64
 26  schemaVersion         20 non-null     object
 27  destination           20 non-null     object
 28  eu                    20 non-null     object
 29  visa                  20 non-null     bool
 30  vlucht_status         20 non-null     object
 31  baggage_belt          20 non-null     int64
 32  iataMain              20 non-null     object
 33  iataSub               20 non-null     object
dtypes: bool(2), datetime64[ns, UTC+02:00](1), float64(2), int64(2), object(27)
memory usage: 5.2+ KB

In [21]:
df['destination'].isna().sum()

0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lastUpdatedAt         20 non-null     object
 1   actualLandingTime     18 non-null     datetime64[ns, UTC+02:00]
 2   aircraftRegistration  18 non-null     object
 3   aircraftType          20 non-null     object
 4   baggageClaim          16 non-null     object
 5   codeshares            12 non-null     object
 6   estimatedLandingTime  18 non-null     object
 7   expectedTimeOnBelt    16 non-null     object
 8   flightDirection       20 non-null     object
 9   flightName            20 non-null     object
 10  flightNumber          20 non-null     int64
 11  gate                  16 non-null     object
 12  pier                  16 non-null     object
 13  id                    20 non-null     object
 14  isOperationalFlight   20 non-null     bool
 15  mainFlight            20 non-null     object
 16  prefixIATA            20 non-null     object
 17  prefixICAO            18 non-null     object
 18  airlineCode           18 non-null     float64
 19  publicFlightState     20 non-null     object
 20  route                 20 non-null     object
 21  scheduleDateTime      20 non-null     object
 22  scheduleDate          20 non-null     object
 23  scheduleTime          20 non-null     object
 24  serviceType           20 non-null     object
 25  terminal              16 non-null     float64
 26  schemaVersion         20 non-null     object
 27  destination           20 non-null     object
 28  eu                    20 non-null     object
 29  visa                  20 non-null     bool
 30  vlucht_status         20 non-null     object
 31  baggage_belt          20 non-null     int64
 32  iataMain              20 non-null     object
 33  iataSub               20 non-null     object
dtypes: bool(2), datetime64[ns, UTC+02:00](1), float64(2), int64(2), object(27)
memory usage: 5.2+ KB

In [23]:
# check of er True waardes in de nieuwe visa kolom zitten
sum(df["visa"])

0

In [24]:
df.head()

,lastUpdatedAt,actualLandingTime,aircraftRegistration,aircraftType,baggageClaim,codeshares,estimatedLandingTime,expectedTimeOnBelt,flightDirection,flightName,flightNumber,gate,pier,id,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,airlineCode,publicFlightState,route,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,schemaVersion,destination,eu,visa,vlucht_status,baggage_belt,iataMain,iataSub
0,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,HV5752,5752,E6,E,142044670311868946,True,HV5752,HV,TRA,164.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4,RAK,N,False,ARR,15,737,73H
1,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,"{'iataMain': '737', 'iataSub': '73H'}",{'belts': ['15']},{'codeshares': ['KL2624']},2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,KL2624,2624,E6,E,142044670690142594,True,HV5752,KL,KLM,100.0,"{'flightStates': ['ARR', 'EXP']}","{'destinations': ['RAK'], 'eu': 'N', 'visa': F...",2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,4,RAK,N,False,ARR,15,737,73H
2,2024-08-22T10:50:02.759+02:00,NaT,NaN,"{'iataMain': '32S', 'iataSub': '32Q'}",NaN,NaN,NaN,NaN,A,HV6888,6888,NaN,NaN,142044670311973224,False,HV6888,HV,NaN,NaN,{'flightStates': ['SCH']},"{'destinations': ['KEF'], 'eu': 'S', 'visa': F...",2025-04-01T00:15:00.000+02:00,2025-04-01,00:15:00,J,NaN,4,KEF,S,False,SCH,0,32S,32Q
3,2025-04-01T01:57:42.779+02:00,2025-04-01 00:18:01+02:00,PHYHX,"{'iataMain': '32S', 'iataSub': '32Q'}",{'belts': ['2']},NaN,2025-04-01T00:18:01.000+02:00,2025-04-01T00:45:16.000+02:00,A,HV5134,5134,C9,C,142044670311852374,True,HV5134,HV,TRA,164.0,{'flightStates': ['ARR']},"{'destinations': ['BCN'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,1.0,4,BCN,S,False,ARR,2,32S,32Q
4,2025-04-01T02:17:34.213+02:00,2025-04-01 00:21:50+02:00,PHTFT,"{'iataMain': '737', 'iataSub': '7M8'}",{'belts': ['20']},NaN,2025-04-01T00:21:50.000+02:00,2025-04-01T01:33:34.497+02:00,A,OR1636,1636,Z02,Z,142044671267282954,True,OR1636,OR,TFL,231.0,{'flightStates': ['ARR']},"{'destinations': ['LPA'], 'eu': 'S', 'visa': F...",2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,4.0,4,LPA,S,False,ARR,20,737,7M8

In [25]:
# Onnodige kolommen verwijderen
df = df.drop(columns=["route",'publicFlightState','baggageClaim','aircraftType', 'flightName', 'flightNumber', 'id', 'airlineCode', 'schemaVersion', 'codeshares'])

df.head()

,lastUpdatedAt,actualLandingTime,aircraftRegistration,estimatedLandingTime,expectedTimeOnBelt,flightDirection,gate,pier,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,destination,eu,visa,vlucht_status,baggage_belt,iataMain,iataSub
0,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,E6,E,True,HV5752,HV,TRA,2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,RAK,N,False,ARR,15,737,73H
1,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,E6,E,True,HV5752,KL,KLM,2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,RAK,N,False,ARR,15,737,73H
2,2024-08-22T10:50:02.759+02:00,NaT,NaN,NaN,NaN,A,NaN,NaN,False,HV6888,HV,NaN,2025-04-01T00:15:00.000+02:00,2025-04-01,00:15:00,J,NaN,KEF,S,False,SCH,0,32S,32Q
3,2025-04-01T01:57:42.779+02:00,2025-04-01 00:18:01+02:00,PHYHX,2025-04-01T00:18:01.000+02:00,2025-04-01T00:45:16.000+02:00,A,C9,C,True,HV5134,HV,TRA,2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,1.0,BCN,S,False,ARR,2,32S,32Q
4,2025-04-01T02:17:34.213+02:00,2025-04-01 00:21:50+02:00,PHTFT,2025-04-01T00:21:50.000+02:00,2025-04-01T01:33:34.497+02:00,A,Z02,Z,True,OR1636,OR,TFL,2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,4.0,LPA,S,False,ARR,20,737,7M8

### Import vliegveld dataset

In [26]:
Airports = pd.read_csv('world-airports.csv')

### EDA op de vliegveld dataset

In [27]:
Airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,region_name,iso_region,local_region,municipality,scheduled_service,gps_code,icao_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,2434,EGLL,large_airport,London Heathrow Airport,51.470600,-0.461941,83.0,EU,United Kingdom,GB,England,GB-ENG,ENG,London,1,EGLL,EGLL,LHR,NaN,http://www.heathrowairport.com/,https://en.wikipedia.org/wiki/Heathrow_Airport,"LON, Londres",1251675,2022-10-18T18:48:50+00:00
1,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,United States,US,California,US-CA,CA,Los Angeles,1,KLAX,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,Tom Bradley,1335475,2024-04-02T16:36:13+00:00
2,3754,KORD,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,680.0,NaN,United States,US,Illinois,US-IL,IL,Chicago,1,KORD,KORD,ORD,ORD,https://www.flychicago.com/ohare/home/pages/de...,https://en.wikipedia.org/wiki/O'Hare_Internati...,"CHI, Orchard Place",1503175,2024-03-09T23:28:49+00:00
3,3622,KJFK,large_airport,John F Kennedy International Airport,40.639447,-73.779317,13.0,NaN,United States,US,New York,US-NY,NY,New York,1,KJFK,KJFK,JFK,JFK,https://www.jfkairport.com/,https://en.wikipedia.org/wiki/John_F._Kennedy_...,"Manhattan, New York City, NYC, Idlewild, IDL, ...",1052075,2022-10-18T18:49:55+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,1026.0,NaN,United States,US,Georgia,US-GA,GA,Atlanta,1,KATL,KATL,ATL,ATL,http://www.atlanta-airport.com/,https://en.wikipedia.org/wiki/Hartsfield–Jacks...,NaN,2002475,2024-04-02T16:26:01+00:00

In [28]:
Airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82387 entries, 0 to 82386
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 82387 non-null  int64
 1   ident              82387 non-null  object
 2   type               82387 non-null  object
 3   name               82387 non-null  object
 4   latitude_deg       82387 non-null  float64
 5   longitude_deg      82387 non-null  float64
 6   elevation_ft       67934 non-null  float64
 7   continent          43400 non-null  object
 8   country_name       82387 non-null  object
 9   iso_country        82127 non-null  object
 10  region_name        82387 non-null  object
 11  iso_region         82387 non-null  object
 12  local_region       82370 non-null  object
 13  municipality       77617 non-null  object
 14  scheduled_service  82387 non-null  int64
 15  gps_code           43094 non-null  object
 16  icao_code          7636 non-null   object
 17  iata_code          9095 non-null   object
 18  local_code         35733 non-null  object
 19  home_link          4262 non-null   object
 20  wikipedia_link     16476 non-null  object
 21  keywords           19883 non-null  object
 22  score              82387 non-null  int64
 23  last_updated       82387 non-null  object
dtypes: float64(3), int64(3), object(18)
memory usage: 15.1+ MB

In [29]:
# Onnodige kolommen verwijderen
Airports_clean = Airports.drop(columns=['home_link', 'wikipedia_link', 'scheduled_service', 'score', 'last_updated', 'elevation_ft', 'id', 'keywords', 'iso_region', 'ident'])
Airports_clean.head()

,type,name,latitude_deg,longitude_deg,continent,country_name,iso_country,region_name,local_region,municipality,gps_code,icao_code,iata_code,local_code
0,large_airport,London Heathrow Airport,51.470600,-0.461941,EU,United Kingdom,GB,England,ENG,London,EGLL,EGLL,LHR,NaN
1,large_airport,Los Angeles International Airport,33.942501,-118.407997,NaN,United States,US,California,CA,Los Angeles,KLAX,KLAX,LAX,LAX
2,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,NaN,United States,US,Illinois,IL,Chicago,KORD,KORD,ORD,ORD
3,large_airport,John F Kennedy International Airport,40.639447,-73.779317,NaN,United States,US,New York,NY,New York,KJFK,KJFK,JFK,JFK
4,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,NaN,United States,US,Georgia,GA,Atlanta,KATL,KATL,ATL,ATL

### Samenvoegen van de vlucht en vliegveld data

In [30]:
Airports_Flight = df.merge(Airports_clean, how='left', left_on='destination', right_on='iata_code', suffixes=['_Port', '_Flight'])
Airports_Flight.head()

,lastUpdatedAt,actualLandingTime,aircraftRegistration,estimatedLandingTime,expectedTimeOnBelt,flightDirection,gate,pier,isOperationalFlight,mainFlight,prefixIATA,prefixICAO,scheduleDateTime,scheduleDate,scheduleTime,serviceType,terminal,destination,eu,visa,vlucht_status,baggage_belt,iataMain,iataSub,type,name,latitude_deg,longitude_deg,continent,country_name,iso_country,region_name,local_region,municipality,gps_code,icao_code,iata_code,local_code
0,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,E6,E,True,HV5752,HV,TRA,2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,RAK,N,False,ARR,15,737,73H,large_airport,Menara Airport,31.606899,-8.03630,AF,Morocco,MA,Marrakech-Safi Region,07,Marrakech,GMMX,GMMX,RAK,NaN
1,2025-04-01T01:57:42.007+02:00,2025-03-31 23:46:55+02:00,PHHSJ,2025-03-31T23:46:55.000+02:00,2025-04-01T00:51:30.515+02:00,A,E6,E,True,HV5752,KL,KLM,2025-04-01T00:00:00.000+02:00,2025-04-01,00:00:00,J,3.0,RAK,N,False,ARR,15,737,73H,large_airport,Menara Airport,31.606899,-8.03630,AF,Morocco,MA,Marrakech-Safi Region,07,Marrakech,GMMX,GMMX,RAK,NaN
2,2024-08-22T10:50:02.759+02:00,NaT,NaN,NaN,NaN,A,NaN,NaN,False,HV6888,HV,NaN,2025-04-01T00:15:00.000+02:00,2025-04-01,00:15:00,J,NaN,KEF,S,False,SCH,0,32S,32Q,large_airport,Keflavik International Airport,63.985001,-22.60560,EU,Iceland,IS,Southern Peninsula,2,Reykjavík,BIKF,BIKF,KEF,NaN
3,2025-04-01T01:57:42.779+02:00,2025-04-01 00:18:01+02:00,PHYHX,2025-04-01T00:18:01.000+02:00,2025-04-01T00:45:16.000+02:00,A,C9,C,True,HV5134,HV,TRA,2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,1.0,BCN,S,False,ARR,2,32S,32Q,large_airport,Josep Tarradellas Barcelona-El Prat Airport,41.297100,2.07846,EU,Spain,ES,Catalonia,CT,Barcelona,LEBL,LEBL,BCN,NaN
4,2025-04-01T02:17:34.213+02:00,2025-04-01 00:21:50+02:00,PHTFT,2025-04-01T00:21:50.000+02:00,2025-04-01T01:33:34.497+02:00,A,Z02,Z,True,OR1636,OR,TFL,2025-04-01T00:25:00.000+02:00,2025-04-01,00:25:00,J,4.0,LPA,S,False,ARR,20,737,7M8,large_airport,Gran Canaria Airport,27.931900,-15.38660,AF,Spain,ES,Canary Islands,CN,Gran Canaria Island,GCLP,GCLP,LPA,NaN

### EDA op de samengevoegde dataset

In [31]:
Airports_Flight['type'].unique()

array(['large_airport', 'medium_airport'], dtype=object)

In [32]:
Airports_Flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lastUpdatedAt         20 non-null     object
 1   actualLandingTime     18 non-null     datetime64[ns, UTC+02:00]
 2   aircraftRegistration  18 non-null     object
 3   estimatedLandingTime  18 non-null     object
 4   expectedTimeOnBelt    16 non-null     object
 5   flightDirection       20 non-null     object
 6   gate                  16 non-null     object
 7   pier                  16 non-null     object
 8   isOperationalFlight   20 non-null     bool
 9   mainFlight            20 non-null     object
 10  prefixIATA            20 non-null     object
 11  prefixICAO            18 non-null     object
 12  scheduleDateTime      20 non-null     object
 13  scheduleDate          20 non-null     object
 14  scheduleTime          20 non-null     object
 15  serviceType           20 non-null     object
 16  terminal              16 non-null     float64
 17  destination           20 non-null     object
 18  eu                    20 non-null     object
 19  visa                  20 non-null     bool
 20  vlucht_status         20 non-null     object
 21  baggage_belt          20 non-null     int64
 22  iataMain              20 non-null     object
 23  iataSub               20 non-null     object
 24  type                  20 non-null     object
 25  name                  20 non-null     object
 26  latitude_deg          20 non-null     float64
 27  longitude_deg         20 non-null     float64
 28  continent             16 non-null     object
 29  country_name          20 non-null     object
 30  iso_country           20 non-null     object
 31  region_name           20 non-null     object
 32  local_region          20 non-null     object
 33  municipality          20 non-null     object
 34  gps_code              20 non-null     object
 35  icao_code             20 non-null     object
 36  iata_code             20 non-null     object
 37  local_code            6 non-null      object
dtypes: bool(2), datetime64[ns, UTC+02:00](1), float64(3), int64(1), object(31)
memory usage: 5.8+ KB